<h1><%= @article.title %></h1>
<p>
<%= @article.text %>
</p>
<%= link_to 'Show all articles', articles_path %>
<hr/>
<h2>Comments:</h2>
<% @article.comments.each do |comment| %>
	<p>
		<%= comment.body %>
	</p>
	<p>
		<span style="color: #999; font-size:75%">Written by <%= comment.author %> at <%= comment.created_at %></span>
	</p>
	<hr/>
<% end %>

<p>
	Your comment:
<%= form_for([@article, @article.comments.build]) do |f| %>
	<% if @article && @article.errors.any? %>
	<p>	
		<ul>
		<% @article.errors.full_messages.each do |msg|  %>
			<li> <%= msg %></li>
		<% end %>
		</ul>
	</p>
	<% end %>
	<p>
		<%= f.label :author %> <br/>
		<%= f.text_field :author, :value => current_user.username %>
	</p>
	<p>
		<%= f.label :body %> <br/>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit 'Post comment', :class => 'btn btn-primary' %>
		<br/>	
	</p>
<% end %>
</p>
